<nav class="navbar navbar-expand-sm navbar-light bg-none border-bottom rounded-0"
     style="margin-bottom: 0px; border-bottom: 2px solid #dddddd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Chieng Planner</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index" asp-route-id="0" id="homeNavLink">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Notes" asp-action="Index" id="notesNavLink">Notes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Checklists" asp-action="Index" id="checklistNavLink">Checklists</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
