<div class="container-fluid">
    <nav id="topMenu" class="navbar row">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index" id="#homeNavLink">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav right">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Notes" asp-action="Index" id="#notesNavLink">Notes</a>
            </li>
        </ul>
    </nav>
</div>
