@model ChiengPlannerVue.Models.Users.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div class="card card-container w-75" style="margin-top:.5%; left: 14%;padding: 2%;background-color: rgba(0,0,0,.125);">
        <h4 class="text-center">Register</h4>
        <br />
        <div class="input-group mb-5">
            <div class="w-100">
                <input type="text" asp-for="UserName" class="form-control" placeholder="Email" style="height:60px;" />
                <span asp-validation-for="UserName" class="text-danger"></span>
                @if (!string.IsNullOrEmpty(Model.ExistingUserMsg))
                {
                    <span class="text-danger">@Model.ExistingUserMsg</span>
                }
            </div>
        </div>
        <div class="input-group mb-5">
            <div style="width: 49.5%;margin-right: 1%;">
                <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name" style="height:60px;" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div style="width: 49.5%;">
                <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name" style="height:60px;" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="input-group mb-5">
            <div class="w-100">
                <input asp-for="Password" class="form-control" type="password" placeholder="Password" style="height:60px;" />
                <span asp-validation-for="Password" class="text-danger"></span>
                @if (!string.IsNullOrEmpty(Model.AlphaNumericPasswordErrorMsg))
                {
                    <p class="text-danger">@Model.AlphaNumericPasswordErrorMsg</p>
                }
            </div>
        </div>
        <div class="input-group mb-5">
            <div class="w-100">
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" style="height:60px;" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        @if (Model.IsEditMode)
        {
            <button class="btn btn-lg btn-success btn-block btn-signin mt-2" type="submit" style="width: 100%;padding: 15px;">
                Create Account
            </button>
        }
        else
        {
            <button class="btn btn-lg btn-success btn-block btn-signin mt-2" type="submit" style="width: 100%;padding: 15px;">
                Save
            </button>
        }
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
    </script>
}


