<div class="card card-container">
    <form asp-controller="Account" asp-action="SignIn" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <h4 class="text-center">Sign In</h4>
        <br />

        <div class="input-group mb-3">
            <div class="input-group prepend">
                <span class="input-group text">
                    <i class="fas fa-user"></i>
                </span>
            </div>
            <!--<input type="text" asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>-->
        </div>

        @*Reuse above format for password*@

        <button class="btn btn-lg btn-primary btn-block btn-signin mt-2" type="submit">Sign In</button>
        <a href="@Url.Action("Account", "Register")" class="btn btn-lg btn-primary btn-block btn-signin mt-2">Create an Account</a>
    </form>
</div>
