@model List<ChiengPlannerVue.Models.Checklists.Task>;

<div style="margin: 5%;">
    <div style="margin-bottom: -3.5%;">
        <span>Tasks</span>
    </div>
    <button id="AddTask" class="add-task-button">
        +
    </button>
    <br />
    <hr style="border-color: black;" />
    <div id="TaskList">
        <ul id="TaskListItems" style="list-style-type: none;">
        </ul>
    </div>
</div>