@model List<ChiengPlannerVue.Models.Checklists.Task>;

<div style="margin: 5%;">
    <div style="margin-bottom: -3.5%;">
        <span>Tasks</span>
    </div>
    <button id="AddTask" class="add-task-button">
        +
    </button>
    <br />
    <hr style="border-color: black;" />
    <div id="TaskList">
        <ul id="TaskListItems" style="list-style-type: none;">
            @foreach (var task in Model)
            {
                <li class="task task-border-bottom">
                    <input type="checkbox" class="task-checkbox" data-id="@task.TaskId" />
                    <p class="task-text" id="@task.TaskId">@task.Name</p>
                    <div class="save-delete-task-buttons">
                        <button class="edit-task"><i class="fa-solid fa-edit"></i></button>
                        <button class="delete-task"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>