@using ChiengPlannerVue.Utils
@model List<int>

@{
    ViewData["Title"] = "Home Page";
}
<div style="text-align: center;">
    <h1>Chieng Planner</h1>
    <div class="d-inline" id="navLinks">
        <a class="nav-link" asp-controller="Notes" asp-action="Index">Notes</a>
    </div>
</div>
