@using ChiengPlannerVue.Utils
@model List<int>

@{
    ViewData["Title"] = "Home Page";
}
<div style="text-align: center; margin-top: 20%;">
    <h1>Chieng Planner</h1>
    <div class="d-inline" id="navLinks">
        <a asp-controller="Notes" asp-action="Index" style="color: #7a0696;">Notes</a>
    </div>
</div>
