@model ChiengPlannerVue.Models.Notes.NotesModel;
<style>
    .notes {
        display: flex;
        height: 100%;
    }

        .notes * {
            font-family: sans-serif;
        }

    .notes-sidebar {
        border-right: 2px solid #dddddd;
        flex-shrink: 0;
        padding: 1em;
        width: 22.5%;
    }

    .notes-add {
        background: #7a0696;
        border: none;
        border-radius: 7px;
        color: #ffffff;
        cursor: pointer;
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom: 1em;
        padding: 0.75em 0;
        width: 100%;
    }

        .notes-add:hover {
            background: #500263;
        }

    .notes-list {}

    .notes-list-item {
        cursor: pointer;
        width: 100%;
    }

    .notes-list-item--selected {
        background: #eeeeee;
        border-radius: 7px;
        font-weight: bold;
    }

    .notes-small-title,
    .notes-small-updated {
        padding: 10px;
    }

    .notes-small-title {
        font-size: 1em;
    }

    .notes-small-body {
        padding: 0 10px;
        font-size: .7em;
    }

    .notes-small-updated {
        color: #aaaaaa;
        font-style: italic;
        text-align: right;
        font-size: .7em;
    }

    .delete-note-sidebar {
        text-align: center;
        font-size: small;
        border: none;
        /* width: 5%; */
        /*margin: -10px;*/
    }

    .button-side-note-sidebar {
        margin-top: 10%;
    }

    /*.notes__preview {
                                display: flex;
                                flex-direction: column;
                                padding: 2em 3em;
                                flex-grow: 1;
                            }

                            .notes__title,
                            .notes__body {
                                border: none;
                                outline: none;
                                width: 100%;
                            }

                            .notes__title {
                                font-size: 3em;
                                font-weight: bold;
                            }

                            .notes__body {
                                flex-grow: 1;
                                font-size: 1.2em;
                                line-height: 1.5;
                                margin-top: 2em;
                                resize: none;
                            }*/
</style>

<div class="notes-sidebar">
    <a asp-controller="Notes" asp-action="EditNote" class="notes-add" type="button" style="text-align: center;"><i class="fa-solid fa-plus"></i></a>
    <div class="notes-list">
        @foreach (var note in Model.Notes)
        {
            <div class="notes-list-item d-inline-flex" data-id=@note.NotesId>
                <div style="width: 85%;">
                    <div class="notes-small-title"><b>@note.Title</b></div>
                    @if (note.PlainText.Length > 120)
                    {
                        <div class="notes-small-body">@(note.PlainText.Substring(0, 50) + "...")</div>
                    }
                    else
                    {
                        <div class="notes-small-body">@note.PlainText</div>
                    }
                    <div class="notes-small-updated">@note.ModifiedDate</div>
                </div>
                <div class="button-side-note-sidebar">
                    <button class="btn btn-light text-danger delete-note-sidebar" type="button" data-id=@note.NotesId>
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>


