@model ChiengPlannerVue.Models.Notes.NotesModel;
@using ChiengPlannerVue.Utils
@{
    ViewData["Title"] = "Notes Index";
}
@section Scripts{
    <script type="text/javascript">
        var vm = @Html.Raw(Model.ToJson());
        var notesId = @Model.NotesId;
        $(document).ready(function () {
            $('#noteTitle').prepend("<h1>" + vm.title + "</h1>");
            $('#noteBody').html(vm.body);

            $('.notes-list-item').on('click', function (e) {
                notesId = $(this).data("id");
                $.ajax({
                    type: "POST",
                    url: "/notes/loadnote",
                    data: { id: notesId },
                    success: function (data) {
                        if (data.success) {
                            // Will end up a redirect, but for now just display message
                            $('#noteTitle').val(data.title);
                            $('.tiptap').html(data.body);
                            $(this).addClass('notes-list-item--selected')
                        }
                        else {
                            $("#errorModal").css({ 'transition': 'opacity 3s' });
                            $('#errorMsg').html(data.message);
                            $('#errorModal').modal('show');
                        }

                    },
                    error: function () {
                        $("#errorModal").css({ 'transition': 'opacity 3s' });
                        $('#errorMsg').html('<b><small>There was an error loading this note, please try again</small></b>');
                        $('#errorModal').modal('show');
                    }
                })
            });
        })
    </script>
    <script type="text/javascript" src="~/js/notes-index.bundle.js" asp-append-version="true"></script>
}